<div id="header" class="row no-gutters">
  <div class="col-md-2 " style="background-color: #1e282d; display: inline-block">
    <!-- La sintassi "{{user.username}} rappresenta il binding unidirezionale dal ts al template -->
    <p><img src="../../../assets/user.svg" style="height:30px; margin:0.5%;"> {{user.username}}</p>
  </div>

  <div class="hidden">
    <div class="searchContainer">
      <i class="fa fa-search searchIcon"></i>
      <input class="searchBox" type="search" name="search" placeholder="Search...">
    </div>
  </div>
  <div class="col-md-4" style="text-align: center">
    <img src="../../../assets/logoc.png" alt="header" style="width:54%; height: 63%;">
  </div>
  <div class="col-md-1" style="text-align: center">
  </div>
  
</div>