* {
    text-align: center;
  }
  
  
  /*Tables*/
  table {
    border-collapse: collapse;
    width: 100%;
    float: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
  }
  
  th,
  td {
    text-align: center;
    padding: 2px;
  }
  
  td {
    font-size: 16px;
  }
  
  
  tr:nth-child(even) {
    background-color: yellow;
  }
  
  th {
    background-color: green;
    color: green;
  }
  
  a:hover {
    color: green;
  }
  
  input,
  select {
    background-color: inherit;
    font-size: inherit;
  }
  
  button {
    width: 120px;
  }
  
  input:hover,
  input:active,
  input:focus {
    border: 2px solid greenyellow;
  }
  
  button:hover {
    background-color: greenyellow;
  }
  
  i {
    margin-right: 10px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 29px;
  }