<!-- Il grid layout di Bootstrap prevede che il contentuto sia inserito dentro un div di classe 
  "container", poi le row e infine le col (in tutto devono essere ESATTAMENTE 12 colonne per 
  ogni riga) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <img src="../../assets/logoc.png" alt="logo">
    </div>
    <div class="col-md-5">
      <form #f="ngForm">
        <p>Please insert username and password to Login or Sign Up</p>
        <div class="form-group">
          <input class="form-control" type="text" id="user" name="username" placeholder="Username" ngModel>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="pass" name="password" placeholder="Password" ngModel>
        </div>
        <!-- "(click)"" è un tipo di binding unidirezionale (dal template al ts): quando l'utente clicca
        sul bottone viene eseguito il metodo login(f) del ts. f non è altro che la form con tutti i valori
      inseriti (verranno poi spacchettati dal ts) -->
        <button type="submit" (click)="login(f)">Login</button>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
