<!-- Questo template, essendo un monoblocco, non ha bisogno del grid layout. Le classi di stile sono 
custom e sono definite nel CSS-->

<div class="menu">
    <button class="menubtn">
        <!-- Per navigare tra le component usiamo il routerLink, specificando il persorso da seguire-->
        <a [routerLink]="['/admin-dashboard']">
            <i class="fas fa-home"></i> Dashboard
        </a>
    </button>
    <!-- quando si clicca sul bottone la variabile "isAccountCollapsed" cambia valore booleano-->
    <button class="menubtn" (click)="auditcollapse()">
        <i class="fas fa-user"></i> Audit Trail
    </button>
    <!-- La direttiva *ngIf mostra il contenuto del div solo se "isAccountCollapsed" è true -->
    <div *ngIf="isAuditCollapsed">
        <button class="collapsebtn">
            <a [routerLink]="['/admin-dashboard/audit']">
                <i class="fas fa-user-edit"></i> Log
            </a>
        </button>
    </div>
    <button class="menubtn" (click)="userscollapse()">
        <i class="fas fa-users"></i>Users
    </button>
    <div *ngIf="isUserCollapsed">
        <button class="collapsebtn">
            <a [routerLink]="['/admin-dashboard/users']">
                <i class="fas fa-edit"></i> Manage Users
            </a>
        </button>
    </div>

    <button class="menubtn" (click)="servizicollapse()">
        <i class="fas fa-users"></i>Servizi
    </button>
    <div *ngIf="isServiziCollapsed">
        <button class="collapsebtn">
            <a [routerLink]="['/admin-dashboard/servizi']">
                <i class="fas fa-edit"></i> Manage Servizi
            </a>
        </button>
    </div>

    <button class="menubtn" (click)="economycollapse()">
        <i class="fas fa-users"></i>Economy
    </button>
    <div *ngIf="isEconomyCollapsed">
        <button class="collapsebtn">
            <a [routerLink]="['/admin-dashboard/economy']">
                <i class="fas fa-edit"></i> Manage Economy
            </a>
        </button>

    </div>


    <button class="menubtn" (click)="companycollapse()">
        <i class="fas fa-users"></i>Company
    </button>
    <div *ngIf="isCompanyCollapsed">
        <button class="collapsebtn">
            <a [routerLink]="['/admin-dashboard/company']">
                <i class="fas fa-edit"></i> Manage Company
            </a>
        </button>

    </div>


    <button class="menubtn" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>Logout
    </button>
</div>